/*Fonts*/



/*Global styles*/ 

* {
	margin: 0;
	padding: 0;

}

header, footer {
	background-color: #3e454c;
}

body {
	font-family: "Gill Sans", "futura-pt",sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin: 0;
	padding:0;
	background-color: #fff6e5;
}

/*Content Styling*/


#logoContainer {
	width: 400px;
	height: 87px;
	margin: auto;
	text-align: center;
}

#logoBadge {
	width: 87px;
	height: 87px;
	float: left;
}

#logoText {
	width: 293px;
	height: 53px;
	float: right;
	margin: 23px 0 23px 0px;
}

#logoContainer:after {
	content: "";
	display: table;
	clear: both;
}

.mainContent p {
	font-weight: 400;
	font-size: 1.125em;
	width: 280px;
	text-align: center;
	margin: auto;
}