/*---Global Styling---*/


* {
	margin: 0;
	padding: 0;

}

header, footer {
	background-color: #3e454c;
}

body {
	font-family: "Gill Sans", "futura-pt", sans-serif;
	font-weight: 300;
	font-size: 16px;
	background-color: #fff6e5;
}

p>a {
	color: #ff7f66;
	text-decoration: none;
}

p>a:hover {
	border-bottom: 1px dotted #ff7f66;
}

button[type="submit"] {
	height: 44px;
	width: 140px;
	background-color: #3e454c;
	border: none;
	font-family: inherit;
	font-weight: 400;
	font-size: 1.125em;
	color: #fff;
}

button[type="submit"]:hover {
	background-color: #ff7f66;
}

/*Clearfix*/

.clearfix:after {
	content: "";
    display: block;
    clear: both;
}


/*---Content Styling---*/

/*Header Styling*/

header {
	height: 110px;
	padding: 10px 0 10px 0; /*not sure why I needed to do it this way*/
}

#logoContainer {
	width: 400px;
	height: 90px;
	margin: 12px auto;
}

#logoBadge {
	width: 87px;
	height: 87px;
	float: left;
}

#logoText {
	width: 293px;
	height: 53px;
	float: right;
	margin: 23px 10px 0px 0px;
}

#logoContainer:after {
	content: "";
	display: table;
	clear: both;
}

/*Intro Styling*/

.mainContent p {
	font-weight: 400;
	font-size: 1.125em;
	max-width: 480px;
	text-align: center;
	margin: auto;
}

.mainContent p:nth-child(1) {
	margin-top: 130px;
}

.mainContent p:nth-child(2) {
	margin-top: 10px;
	margin-bottom: 100px;
}

/*Form Styling*/

form {
	width: 320px;
	margin: 0 auto 100px auto;

}

input {
	margin-bottom: 30px;
}



form>button {
	margin: 0px 100px;
}

input[type="text"] {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #878787;
	width: 6.250em;
	height: 1.5em;
	background-color: #fff6e5;
	font-size: 0.875em;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
}

input[type="text"]:focus {
	outline: none;
}

#paragraph-count {
	margin: 0 120px 30px 25px;
}

label {
	margin-bottom: 30px;
}

/*Footer Styling*/

footer {
	padding: 40px;
}

footer>div {
	width: 33%;
	float: left;
}

footer>div:nth-child(3) p {
	text-align: center;
}

.footertext p {
	font-size: 0.875em;
	color: #fff6e5;
	margin-bottom: 30px;
}

.footertext p:last-of-type {
	margin-bottom: 0;
}

#socialLinks a img {
	height: 65px;
	width: 65px;
}

/*#socialLinks a img:hover {
	color: #ff7f66;
}
*/

#socialLinks p {
	font-family: "lobster", "Gill Sans", "futura-pt", sans-serif; /*Can't get Lobster working*/
	font-size: 1.500em;
	color: #ff7f66;
	font-weight: 400;

}

#socialLinks div, #socialLinks p {
	text-align: center;
}

#socialLinks div {
	margin-top: 30px;
}




