/*---Global Styling---*/

* {
	margin: 0;
	padding: 0;

}

header, footer {
	background-color: #3e454c;
}

body {
	font-family: "Gill Sans", "futura-pt", sans-serif;
	font-weight: 300;
	font-size: 100%;
	background-color: #fff6e5;
}

p>a {
	color: #ff7f66;
	text-decoration: none;
}

p>a:hover {
	border-bottom: 1px dotted #ff7f66;
}

button[type="submit"] {
	height: 44px;
	width: 140px;
	background-color: #3e454c;
	border: none;
	font-family: inherit;
	font-weight: 400;
	font-size: 1.125em;
	color: #fff;
	outline: none;
}

button[type="submit"]:hover {
	background-color: #ff7f66;
}


/*Clearfix*/

.clearfix:after {
	content: "";
    display: block;
    clear: both;
}


/*---Content Styling---*/

/*Header Styling*/

header {
	padding: 0.313em 0;
}

#logoContainer {
	width: 400px;
	height: 90px;
	margin: 0.938em auto;
}

#logoBadge {
	width: 87px;
	height: 87px;
	float: left;
}

#logoText {
	width: 293px;
	height: 53px;
	float: right;
	margin: 23px 10px 0px 0px;
}

#header-border {
	border-bottom: 1px solid #fff6e5;  
}

/*Intro Styling*/

.intro-copy {
	margin: 90px auto 64px auto;
}

.mainContent p {
	font-weight: 400;
	font-size: 1.125em;
	max-width: 480px;
	text-align: center;
	margin: auto;
}

.mainContent p:nth-child(2) {
	margin-top: 10px;
}

.intro-copy span {
	font-style: italic;
}

/*Form Styling*/

form {
	width: 380px;
	margin: 0 auto 100px auto;

}

form>button {
	margin: 34px 120px 0 120px;
}

input[type="text"] {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #878787;
	width: 6.250em;
	height: 1.5em;
	background-color: #fff6e5;
	font-size: 0.875em;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
}

input[type="text"]:focus {
	outline: none;
}

#p-count {
	margin: 0 120px 30px 25px;
}

.checkbox {
  display: none;
}

.checkbox + label {
  padding: 20px 19px 18px 19px;
  background: url(../images/unchecked.png) no-repeat left center;
}

.checkbox:checked + label {
  background:url(../images/checked.png) no-repeat left center;
}

#generator label:nth-of-type(2){
	margin-left: 35px;
}

#generator label:nth-of-type(3) {
margin-left: 96px;
}

#generator p {
	font-weight: 200;
	font-size: 1em;
	text-align: left;
	margin-bottom: 30px;
	display: inline-block;
}

/*Footer Styling*/

footer {
	padding-top: 5px;
}

#footer-border>div {
	width: 33%;
	float: left;
	min-height: 127px;
}

#footer-border>div:nth-child(3) p {
	text-align: center;
	max-width: 374px;
	float: right;
	margin-right: 30px;
	margin-left: auto;
}

.footertext p {
	font-size: 0.875em;
	color: #fff6e5;
	margin-bottom: 30px;
	margin-left: 30px;
}

#socialLinks a img {
	height: 65px;
	width: 65px;
	margin: 0 11px 0 11px;
}

#socialLinks p {
	font-family: "lobster", "Gill Sans", "futura-pt", sans-serif; /*Can't get Lobster working*/
	font-size: 1.500em;
	color: #ff7f66;
	font-weight: 400;
}

#socialLinks div, #socialLinks p {
	text-align: center;
}

#socialLinks div {
	margin-top: 25px;
}

#footer-border>div:nth-child(1) p:first-of-type {
	margin-top: 30px;
}

#footer-border>div:nth-child(3) p:first-of-type {
	margin: 35px 70px 30px 43px; 
}

#share-button {
	display: block;
	width: 75px;
	height: 26px;
	margin: 25px auto 0 auto;
}

#footer-border {
	width: 100%;
	height: auto;
	border-top: 1px solid #fff6e5; 
}

/*---Ipsum Styling---*/

.startup-ipsum h2 {
	margin: 90px auto 64px auto;
	font-weight: 400;
	font-size: 1.125em;
	max-width: 480px;
	text-align: center;
}

.startup-ipsum p, .startup-ipsum pre code {
	font-weight: 200;
	font-size: 1em;
	margin-bottom: 30px;
	max-width: 50%;
}

.startup-ipsum p:last-of-type {
	margin-bottom: 90px;
}

